
.title {
	display: flex;
	align-items: center;
}

.profilepic{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #FFA255;
}

.bio{
	display: flex;
	align-items: center;
}

.bioname{
	font-weight: bolder;
	margin: 0px 15px 0px 0px;
}